body {
    background-color: #232323;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#stripe {
    background: #232323;
    height: 30px;
    width: 50%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    color: white;
}

.selected {
    background-color: lightblue;
}

button {
    border: none;
    color: lightgreen;
    background-color: #232323;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

span {
    font-family: 'Courier New', Courier, monospace;
}